* {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

section > ul > li {
  letter-spacing: 10px;
}

p:nth-child(3) {
  color: yellow;
}

h1 {
  font-size: 3rem;
}

#sub-header {
  text-transform: uppercase;
}

.text-green {
  background-color: green;
}

.border-blue {
  border: blue solid 1px;
}

section img {
  border-radius: 100px;
  height: 20vh;
  width: 20vh;
}

img + ul {
  list-style-type: none;
}
